<link rel="stylesheet" href="/css/profile.css">
<form action="/users/end-session" method="POST">
  <input type="submit" value="Sign out">
</form>
<h1>
  Codeial / Profile Page
</h1>

<p>Name : <%= user.name %></p>
<p>Email : <%= user.email %></p>